@layer theme {
	:root {
		/* reference: https://app.unpkg.com/open-props@1.7.15/files/src/props.easing.css */
		--ease-2: cubic-bezier(0.25, 0, 0.4, 1);
		--ease-out-4: cubic-bezier(0, 0, 0.1, 1);
		--ease-spring-4: linear(
			0,
			0.009,
			0.037 1.7%,
			0.153 3.6%,
			0.776 10.3%,
			1.001,
			1.142 16%,
			1.185,
			1.209 19%,
			1.215 19.9% 20.8%,
			1.199,
			1.165 25%,
			1.056 30.3%,
			1.008 33%,
			0.973,
			0.955 39.2%,
			0.953 41.1%,
			0.957 43.3%,
			0.998 53.3%,
			1.009 59.1% 63.7%,
			0.998 78.9%,
			1
		);
	}
}
