@import "./reset.css";
@import "./variables/color.css";
@import "./variables/spacing.css";
@import "./variables/easing.css";
@import "./utilities.css";

@layer base {
	@media (prefers-reduced-motion: no-preference) {
		@view-transition {
			navigation: auto;
		}
		html {
			scroll-behavior: smooth;
		}
	}

	@supports (scrollbar-color: auto) {
		html {
			scrollbar-color: oklch(from var(--background-main) calc(l + 0.5) c h) var(--background-main);
			scrollbar-width: thin;
		}
	}

	@supports selector(::-webkit-scrollbar) {
		html::-webkit-scrollbar {
			inline-size: 0.25rem;
			background-color: var(--background-main);
		}

		html::-webkit-scrollbar-thumb {
			background-color: oklch(from var(--background-main) calc(l + 0.5) c h);
			border-radius: calc(infinity * 1px);
		}
	}

	body {
		display: grid;
		grid-template-rows: auto 1fr auto;
		row-gap: var(--spacing-2xl-3xl);

		font-size: var(--font-size-step-base);
		background-color: var(--background-main);
		color: var(--text-main);
	}

	:where(h1) {
		font-size: var(--font-size-heading-xl);
	}

	:where(a, button, summary, input) {
		--_base-focus-outline-color: var(--text-accent);
		outline-offset: 0;
		transition: outline-offset var(--ease-2) 200ms;
		&:focus-visible {
			outline-style: solid;
			outline-width: 2px;
			outline-color: var(--_base-focus-outline-color);
			outline-offset: 4px;
		}
	}
}
