@layer utilities {
	.wrapper {
		--_maxWidth: 1440px;
		inline-size: min(var(--_maxWidth), 100% - calc(2rem + var(--spacing-s-m)));
		margin-inline: auto;

		&[config-wrapper="wide"] {
			--_maxWidth: 1240px;
		}

		&[config-wrapper="narrow"] {
			--_maxWidth: 1028px;
		}

		&[config-wrapper="prose"] {
			--_maxWidth: 65ch;
		}
	}
}
